<!-- templates/projects/project_form.html -->
{% extends "base.html" %}

{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">
        {% if form.instance.pk %} Edit Project {% else %} Create Project {% endif %}
      </h1>

      <form method="POST"
            action="{% if form.instance.pk %}
                      {% url 'project_update' form.instance.pk %}
                    {% else %}
                      {% url 'project_create' %}
                    {% endif %}">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary mt-3">
          {% if form.instance.pk %} Save Changes {% else %} Create Project {% endif %}
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}